.app-wrapper {
  font-family: verdana, sans-serif;
  padding: 1rem;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  p {
    // text-align: center;
    // font-weight: bold;
  }


  .the-card {
    // background-color: red;
    // cursor: pointer;
    // background-color: lightgray;
  }

  .the-card:hover {
    // background-color: rgb(184, 184, 184);
  }
  a {
    all: unset;
  }

  .link {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgray;
    display: flex;
    gap: 0.5rem;
    align-items: center;
.link-icon {
  font-size: 1.5rem;
}
  }

  .link:hover {
    background-color: rgb(184, 184, 184);

  }
}

nav {
  background-color: lightgray;
  padding: 1rem;
  border-bottom: 1px solid black;
  a {
    all: unset;
  }

  .menu-icon {
    font-size: 1.5rem;
  }
}

.menu-wrapper {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  color: black;
    background-color: lightgray;

}
.menu-wrapper:hover {
  background-color: rgb(184, 184, 184);
}
