.delete-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background-color: lightgray;
    padding: 1rem;
    border-radius: 5px;
border: 1px solid black;

  .id-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}