.person-wrapper {
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 0.5rem;
  }

  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

}