.person-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid black;

  .loading-text {
    text-align: center;
  }
  background-color: lightgray;
  padding: 1rem;
  border-radius: 5px;

  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    background-color: lightgray;
    padding: 1rem;
    border-radius: 5px;
  }

  td,
  th {
    border: 1px solid black;
    text-align: left;
    padding: 0.5rem;
  }

  tr:nth-child(even) {
    background-color: lightgray;
  }

  tr:nth-child(odd) {
    background-color: white;
  }

  .edit-table-cell {
    .btn {
      width: 100%;
    }
  }

  .delete-table-cell {
    .btn {
      width: 100%;
    }
  }
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .date-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .date-textbox {
      background-color: lightgray;
    }
  }
  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.dialog-wrapper {
  .footer-wrapper {
    display: flex;
    gap: 0.5rem;

    .btn {
      flex: 1;
    }
  }
}
